@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #222;
  margin: 0;
  font-family: "Teko", sans-serif;
  color: #fff;
  font-size: 20px;
}
header {
  /* background: #fff; */
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #1aac83;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 3px 5px 5px rgba(83, 244, 129, 0.472);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  /* background: #f1f1f1; */
  border-radius: 50%;
  border: #444 solid 2px;
  padding: 6px;
  border-radius: 50%;
  color: #444;
  transition: all .2s ease-in-out;
}

.workout-details span:hover {
  box-shadow: 0 0 15px rgba(83, 244, 129, 0.472);
  border: #1aac83 solid 2px;
  border-radius: 15px;
  color: #1aac83;
}

/* new workout form */

.create {
  border-left: #1aac83 solid 3px;
}

.create-container {
  padding: 5px;
  margin-left: 5px;
}

h2, h3 {
  color: #1aac83;
}

label {
  color: #1aac83;
  font-size: 20px;
}

label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a, nav button {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

@media screen and (max-width: 780px) {
  body {
    font-size: 18px;
  }
  .home {
   
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .create {
    border: #1aac83 solid 3px;
    border-radius: 15px;
    /* width: 80%; */
    
  }
}